<ion-view title="Open Account" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="pensionCalculator-card21">
            <div class=" item item-image">
                <img src="img/open-account.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>        
        <form id="openAccount-form6" class="list ">
            <label class="item item-input item-stacked-label " id="openAccount-input10" name="pin">
                <span class="input-label">RSA PIN</span>
                <input type="text" placeholder="E.g. PEN012345678">
            </label>
            <label class="item item-input item-stacked-label " id="openAccount-input11" name="firstname">
                <span class="input-label">Firstname</span>
                <input type="text" placeholder="E.g. Somide">
            </label>
            <label class="item item-input item-stacked-label " id="openAccount-input12" name="surname">
                <span class="input-label">Surname</span>
                <input type="text" placeholder="E.g. Olaoye">
            </label>
            <label class="item item-input item-stacked-label " id="openAccount-input13" name="surname">
                <span class="input-label">Employer Name</span>
                <input type="text" placeholder="E.g. Wildfusion Group">
            </label>
            <label class="item item-input item-stacked-label " id="openAccount-input14" name="current_pfa">
                <span class="input-label">Current PFA</span>
                <input type="text" placeholder="E.g. PAL Pensions">
            </label>
            <label class="item item-input item-stacked-label " id="openAccount-input16" name="current_pfa">
                <span class="input-label">Current PFA</span>
                <input type="text" placeholder="E.g. PAL Pensions">
            </label>
            <label class="item item-input item-stacked-label " id="openAccount-input15" name="surname">
                <span class="input-label">Employer Name</span>
                <input type="text" placeholder="E.g. Wildfusion Group">
            </label>
            <button id="openAccount-button10" class=" button button-positive button-large button-block ">Open Account</button>            
        </form>
    </ion-content>
</ion-view>