<ion-view title="Success" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="success-card26">
            <div class=" item item-image">
                <img src="img/nd3YhjXfRK6yk8JSLWAk_8801-256x256x32.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left positive  " id="success-list-item10">
                <i class="icon ion-wineglass"></i>Correct guy with better future</ion-item>
        </div>
        <p id="success-markdown3" style="color:#000000;font-size:20px;text-align:center;" class=" ">Share on Social Media</p>
        <div id="success-button-bar4" class=" button-bar ">
            <button id="success-button21" style="border-radius:200px 200px 200px 200px;" class=" button button-assertive  button-block icon ion-social-googleplus "></button>
            <button id="success-button19" style="border-radius:200px 200px 200px 200px;" class=" button button-positive  button-block icon ion-social-facebook "></button>
            <button id="success-button20" style="border-radius:200px 200px 200px 200px;" class=" button button-calm  button-block icon ion-social-twitter "></button>
        </div>
        <a ui-sref="tabsController.openAccount_tab3" id="success-button22" class=" button button-positive button-large button-block ">Open Account</a>
    </ion-content>
</ion-view>